<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771494437460-08d93pk21rv873f19r6lqbb8kgsuvr8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771494437460-08d93pk21rv873f19r6lqbb8kgsuvr8a</string>
	<key>API_KEY</key>
	<string>AIzaSyDlvmtHYIOHQrSUSJfmp730OZ7fl0wl2hc</string>
	<key>GCM_SENDER_ID</key>
	<string>771494437460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiteshi.eLibrary</string>
	<key>PROJECT_ID</key>
	<string>e-libraryapp-41cd5</string>
	<key>STORAGE_BUCKET</key>
	<string>e-libraryapp-41cd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771494437460:ios:284e826092f1c3799203c1</string>
</dict>
</plist>